<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <title>Inspeção</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/preview.css">
</head>


<body>
  <div class="container">
    <div id="export-pdf-content">
    <h1>Inspeção</h1>
    <div>
      <h2>Informações gerais</h2>
      <div class="info-box">
        <div id="info-container"></div>
      </div>
    </div>
    <div id="registros-container"></div>
    </div>
    <div class="buttons">
        <button id="exportar-btn" type="button">Exportar</button>
    </div>
  </div>
  <script src="/scripts/html2pdf.bundle.min.js"></script>
  <script src="/scripts/preview.js"></script>
</body>

</html>